* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 5rem 15rem;
}

body {
    padding: 3rem;
}

h1,h2 {
    text-align: center;
}

/* ---------------------------------- */

.container {
    border: 1px solid #FF0000;
    height: 100%;
    font-size: 20px;
}

.item {
    border: 1px solid #000000;
    width: 30%;
    min-height: 5rem;
}

.item1 {
    width: 300px;
}

.item2 {
    width: 10rem;
}

.item3 {
    width: 10em;
}

.item4 {
    width: 50%;
}

.item5 {
    width: 50vw;
}

.grid {
    display: grid;
    padding: 15px 0;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid > .grid__element {
    border: 1px solid #FF0000;
}
