@import url("./colors.css");

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 5rem 15rem;
}

body {
    padding: 3rem;
}

h1,h2 {
    text-align: center;
}

/* ---------------------------------- */

.container {
    border: 1px solid #FF0000;
    height: 100%;
    font-size: 20px;
    color: #FF0000;
}

.container > .item {
    border: 1px solid #000000;
}

.hex {
    color: #0000FF;
    /* or #00F - not recommended some developers */
}

.hexa {
    color: #0000FF80;
}

.rgb {
    color: rgb(51, 147, 51);
}

.rgba {
    color: rgba(51, 147, 51, 1);
}

.opacity {
    color: #0000FF;
    opacity: 0.5;
}

.opacity-bg {
    /*color: rgba(0, 0, 255, 0.5);*/
    color: #0000FF;
    opacity: 0.5;
    background: grey;
}

.variable {
    color: var(--color-main);
}

.image {
    width: 200px;
    height: 150px;
    background-image: url("/assets/marguerite-729510_640.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* or */
    /*background: center / cover no-repeat url("/assets/marguerite-729510_640.jpg");*/
}

.gradient {
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #FF0000, #000000);
}
